<%= render "shared/main_nav" %>
<div class="container">
  <%= bootstrap_devise_error_messages! %>
    <div class="center">
      <h1>Resend Email Confirmation</h1>
      <h4>Hold Tight! your email confirmation is about to be shipped.</h4><br>
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control"  %>
        </div>

            <%= f.submit 'Resend', class: "btn btn-primary" %>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
      </div>




    </div>
</div>
