<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="field">
    <%= f.label :name, "Task Description" %><br><br>
    <%= f.text_field :name, class: "input-lg col-md-8" %><br><br><br>
  </div>
  <div class="field">
    <%= f.label :status, "Check if the task has been completed:" %><br>
    <%= f.check_box :status %><br><br><br><br>
  </div>
  <div class="actions btn btn-lg">
    <center><%= f.submit %></center>
  </div>
</div>
<% end %>

