<p id="notice"><%= notice %></p>

<h1 class="jumbotron">Completed Tasks</h1><br>
<strong>Need to add code in <u>complete_task.rb controller</u> to show only tasks from the <u>user with the status value of true</u></strong>

<br><br>

<%= link_to 'New Task', new_task_path, class: "btn btn-success col-xs-4 col-xs-offset-2" %>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Completion Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <div align="center">
      <%= will_paginate %>
    </div>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, task %></td>
          <% if task.status == false %>
          <td class="danger">
            Not Complete
          </td>
          <% else %>
          <td class="success">
            Completed!
          </td>
          <% end %>
          <td><%= task.completition_date %></td>
          <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div align="center">
  <%= will_paginate %>
</div>
