
<header>
  <%= render "shared/task_nav" %>
  <h1 class="center">All My Tasks</h1>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-card">
          <div class="profile">
            <%= image_tag current_user.avatar.url, class: "avatar" %>
            <p><%= current_user.name %></p>
          </div>
          <div class="counter">
            <div class="row">
              <p class="total"><%= current_user.tasks.count %><br> Tasks</p>
              <p class="complete"><%= @complete_task.count %><br>Completed</p>
            </div>
          </div>
          <div class="button">
            <%= link_to "My Account", edit_user_registration_path, class: "btn btn-primary" %>
          </div>
          <div class="social">
            <ul>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-instagram"></i></li>
            </ul>
          </div>

        </div>

          <div class="latest-task">
            <div class="title">
              <p>LATEST TASK: &nbsp;&nbsp;&nbsp;&nbsp;<%= current_user.tasks.last.due_date.strftime("%B %d, %Y") %> </p>
            </div>
            <div class="body">
              <h4><%= current_user.tasks.last.name %></h4>
            </div>
          </div>
        </div>

        <div class="col-md-9 task-list">
          <ul class="nav display-nav">
            <li><a href="#all">ALL TASKS</a></li>
            <li><a href="#week">THIS WEEK</a></li>
            <li><a href="#today">TODAYS</a></li>
            <li><a href="#incomplete">INCOMPLETED</a></li>
          </ul>
          <!-- Display Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade" id="all">
              <% @tasks.each do |task| %>
              <div class="task">
                <% if task.status %>
                  <%=image_tag("status-true.png", alt: "Image status complete")%>
                <% else %>
                  <%=image_tag("status-false.png", alt: "Image status uncomplete")%>
                <% end %>
                <%= link_to task.name, task, class: "task-name" %>
                <p class="duedate"><%= task.due_date.strftime("%B %d, %Y") %></p>
                <%= link_to 'Update', task, class: 'btn btn-purple' %>
              </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="week">
              <% @task_week.each do |task| %>
                <div class="task">
                  <% if task.status %>
                    <%=image_tag("status-true.png", alt: "Image status complete")%>
                  <% else %>
                    <%=image_tag("status-false.png", alt: "Image status uncomplete")%>
                  <% end %>
                  <%= link_to task.name, task, class: "task-name" %>
                  <p class="duedate"><%= task.due_date.strftime("%B %d, %Y") %></p>
                  <%= link_to 'Update', task, class: 'btn btn-purple' %>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="today">
              <% @task_day.each do |task| %>
              <div class="task">
                <% if task.status %>
                  <%=image_tag("status-true.png", alt: "Image status complete")%>
                <% else %>
                  <%=image_tag("status-false.png", alt: "Image status uncomplete")%>
                <% end %>
                <%= link_to task.name, task, class: "task-name" %>
                <p class="duedate"><%= task.due_date.strftime("%B %d, %Y") %></p>
                <%= link_to 'Update', task, class: 'btn btn-purple' %>
              </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="incomplete">
              <% @incomplete_task.each do |task| %>
                <div class="task">
                  <% if task.status %>
                    <%=image_tag("status-true.png", alt: "Image status complete")%>
                  <% else %>
                    <%=image_tag("status-false.png", alt: "Image status uncomplete")%>
                  <% end %>
                  <%= link_to task.name, task, class: "task-name" %>
                  <p class="duedate"><%= task.due_date.strftime("%B %d, %Y") %></p>
                  <%= link_to 'Update', task, class: 'btn btn-purple' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

    </div>



  </div>
</section>
