
<header>
  <%= render "shared/task_nav" %>
  <h1 class="center">New Task</h1>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-card">
          <div class="profile">
            <%= image_tag current_user.avatar.url, class: "avatar" %>
            <p><%= current_user.name %></p>
          </div>
          <div class="counter">
            <div class="row">
              <p class="total"><%= current_user.tasks.count %><br> Tasks</p>

            </div>
          </div>
          <div class="button">
            <%= link_to "My Account", edit_user_registration_path, class: "btn btn-primary" %>
            <br>
            <%= link_to "New Task", new_task_path, class: "btn btn-success" %>
          </div>
          <div class="social">
            <ul>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-instagram"></i></li>
            </ul>
          </div>

        </div>

          <div class="latest-task">
            <div class="title">
              <p>LATEST TASK: &nbsp;&nbsp;&nbsp;&nbsp;<%= current_user.tasks.last.due_date.strftime("%B %d, %Y") %> </p>
            </div>
            <div class="body">
              <h4><%= current_user.tasks.last.name %></h4>
            </div>
          </div>
        </div>

        <div class="col-md-9 task-list">
          <div class="form-container">
            <%= render 'form' %>
          </div>
        </div>

    </div>



  </div>
</section>
