<%= render "shared/main_nav" %>
<div class="container">
  <%= bootstrap_devise_error_messages! %>
  <div class="center">
    <h1>Forgot Your Password?</h1>
    <h4>We will send you an email so you can reset you password</h4>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <%= f.submit t('Send', :default => "Send me reset password instructions"), class: "btn btn-primary" %>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
  </div>


  </div>
</div>
