<nav class="navbar navbar-default" role="navigation">

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to ' Home', root_path, class: "fa fa-home" %></li>
      <% if user_signed_in? %>
      <li><%= link_to ' My Tasks', tasks_path, class: "fa fa-tasks" %></li>
      <% end %>
    </ul>
    <div class="brand">
      <%= link_to "Task-It", root_path, class: '' %>
    </div>
<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to ' My Account', edit_user_registration_path, class: "fa fa-cogs" %></li>
      <li><%= link_to ' Logout', destroy_user_session_path, :method => :delete, class: "fa fa-sign-out" %></li>
    <% else %>
      <li><%= link_to ' Sign Up', new_user_session_path, class: "fa fa-user-plus" %></li>
      <li><%= link_to ' Login', new_user_session_path, class: "fa fa-sign-in"%></li>
    <% end %>
  </ul>
</div><!-- /.navbar-collapse -->
</nav>
