<header>
    <%= render "shared/main_nav" %>
    <div class="container">
      <div class="row">
        <div class="center">
          <% if !user_signed_in? && !current_user %>
            <h1>HELLO TASKER</h1>
            <br><p>Welcome to Task-it, Add your task, group it, do it!</p>
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-nofull' %>
          <% else %>
            <h1>Hello <%= current_user.name.partition(" ").first %></h1>
            <br><p>You still have <%=  current_user.tasks.where(status: false).count %> Tasks to do!</p>
            <%= link_to "My Tasks", tasks_path, class: 'btn btn-nofull' %>
          <% end %>
        </div>
        <%= image_tag 'scroll.png', class: "scroll" %>
      </div>
    </div>
</header>

<section class="section-1">
  <div class="container">
    <div class="row">
      <p>Since I was a teenager, I’ve had a love for computers. I’d dabble in HTML and wonder what else the world had as far as coding was concerned. Now that I’m learning Ruby on Rails, I need something to keep me on task. With this web app, keeping track of my progress will be a breeze. Whether you’re following your heart, diving deep in code, or you just need to manage your everyday tasks at home, you’ve found the right place to <strong>Task-It</strong>.</p>
    <div class="profile">
      <%= image_tag 'chris.jpg', alt: 'Chris in Car', class: 'chris' %>
      <p>Chris Rodriguez<br>
        Web Developer, Designer<br>
        @chris</p>
    </div>
    </div>

  </div>
</section>

<section class="love">
  <h1 class="center">Made with <i class="fa fa-heart"></i> by <a href="http://geeks2code.com/">Geeks2Code</a></h1>
</section>

<section class="features">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <p>Organize your Tasks by All, Week, Complete, and Incomplete!</p>
      </div>
      <div class="col-md-10">
        <h1>FEATURES</h1>
        <p>Keep track of your tasks with multiple features. Reorganize your tasks in multiple ways, including by All Tasks, This Week's Tasks, Complete Tasks, and Incomplete Tasks. Account features allow users to update current email and change their current password for added security. Task-It’s authentication system keeps user’s tasks and account information safe by preventing access by using state of the art hashed passwords. As Task-It grows, it’ll definitely grow on you, too.</p>
        <p class="quote">
          I was completely lost before I found <strong>Task-It</strong>. Now I can keep track of all of my tasks with ease! <strong>I love Task-It!</strong><br> - Elise Rodriguez <small>(Current Task-It User)</small>
        </p><br>
        <% if !user_signed_in? %>
        <div>
        <center>
          <p>With <strong>Task-It</strong>, it's easy to get started. Just click "Sign-Up" and you'll be Tasking in no time!</p>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
        </center>
        </div>
        <% end %><br><br><br><br>
      </div>
    </div>
  </div>
</section>
